html, body {
    height: 100%;
    margin: 0;
    background: #333333;
    min-height: -webkit-fill-available;
}

@media (pointer: coarse) {

    .non-touch {
        display: none !important;
    }

    .carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        width: 100%;
        height: 100vh;
        touch-action: pan-x;
    }

    .page {
        flex: 0 0 100%;
        min-width: 100%;
        height: 100%;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: #eee;
    }

    .content {
        display: flex;
        flex-direction: column;
        background: #333;
    }

    .content .viewport {
        flex: 1;
        margin: 1em 1em 0 1em;
        display: flex;
        width: calc(100% - 2em);
        height: calc(100% - 1em);
        align-items: center;
        justify-content: center;
    }

    .content .viewport-footer {
        height: 120px;
        margin: 0 1em 1em;
        width: calc(100% - 2em);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content .viewport svg {
        width: 100%;
        height: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header p {
        display: block;
        padding: 1em;
        margin-bottom: 0;
    }
    .header p:nth-child(2) {
        margin-top: 0;
        padding-top: 0;
    }

    .header img {
        max-width: 80%;
        margin: 0 1em 6em;
    }
    .viewport-footer img {
        max-width: 80%;
        margin-bottom: 3em;
    }

    .footer {
        flex-direction: column;
    }
    .footer p {
        display: block;
        padding: 1em;
        margin: 0 1em 4em;
    }

    select {
        border: none;
        border-bottom: 2px #ccc dashed;
        background-color: transparent;
        outline: none;
        padding: 0;
        cursor: pointer;
        margin-right: 4px;
        margin-left: 4px;
        font-family: inherit;
        font-size: inherit;
        font-weight: bold;
        color: inherit;
        box-shadow: none;
        -webkit-appearance: none;
        overflow: hidden;

        width: auto;               /* let it shrink */
        display: inline-block;
        min-width: 0;              /* remove default min width */
        max-width: max-content;    /* ensure it grows to content */

        text-align-last: center;
    }
    select option {
        overflow: hidden;
        color: #ccc;
        padding: 4px;
        background-color: #333; /* Example color */
    }
}
@media (pointer: fine) {

    html, body {
        display: flex;
        flex-direction: column;
        background: #333;
        height: 100%;
    }
    .touch {
        display: none !important;
    }

    .header {
        font-size: 1.5rem;
        padding: 0 0 0;
        column-gap: 0.2em;
    }
    .carousel {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .viewport {
        flex: 1;
    }
    .viewport svg {
        width: 100%;
        height: 100%;
    }
    .footer {
        padding: 0 1em 1em;
        font-size: 1.5rem;
    }
    .footer p {
        margin: 0;
    }
    .header, .footer {
        background: #333;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    select {
        border: none;
        border-bottom: 1px #ccc dashed;
        background-color: transparent;
        outline: none;
        padding: 0;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        box-shadow: none;
        -webkit-appearance: none;
        overflow: hidden;
        text-align-last: center;
    }
    select option {
        overflow: hidden;
        color: #ccc;
        padding: 4px;
        background-color: #333; /* Example color */
    }
}
